/base_lane_metrics_all_step.csv
/attack_vehicle_counts.csv
/gridlocked_edges.csv
/attack_mean_edge_delays_all.csv
/base_mean_lane_metrics_radius.csv
/attack_detector_data.csv
/attack_mean_speeds.csv
/base_detector_data.csv
/base_mean_edge_delays_all.csv
/attack_mean_lane_metrics_all.csv
/attack_lane_metrics_all_step.csv
/base_vehicle_counts.csv
/stopped_vehicles.csv
/attack_mean_lane_metrics_radius.csv
/base_mean_edge_delays_radius.csv
/base_mean_lane_metrics_all.csv
/base_lane_metrics_in_radius_step.csv
/base_mean_speeds.csv
/attack_lane_metrics_in_radius_step.csv
/attack_mean_edge_delays_radius.csv
/detectors.xml
/upstream_edges.xml
/radius_edges.xml
