/e1detectors_base_7794.csv
/e1detectors_attack_13346.csv
/e1detectors_attack_11114.csv
/e1detectors_attack_11205.csv
/e1detectors_base_13346.csv
/e1detectors_base_11205.csv
/e1detectors_attack_17456.csv
/e1detectors_base_11114.csv
/aggregated.csv
/e1detectors_base_17456.csv
/e1detectors_attack_7794.csv
/aggregatedv3.csv
/aggregatedv2.csv
