/e1detectors_base_16252.csv
/e1detectors_base_11607.csv
/e1detectors_base_11943.csv
/e1detectors_base_14152.csv
/e1detectors_attack_11607.csv
/e1detectors_attack_5590.csv
/e1detectors_attack_11943.csv
/e1detectors_attack_14152.csv
/e1detectors_base_5590.csv
/aggregated.csv
/aggregatedv3.csv
/aggregatedv2.csv
/e1detectors_attack_16252.csv
/e1detectors_attack_11607.xml
/e1detectors_attack_5590.xml
/e1detectors_attack_14152.xml
/e1detectors_base_11607.xml
/e1detectors_base_16252.xml
/e1detectors_base_11943.xml
/e1detectors_attack_16252.xml
/e1detectors_attack_11943.xml
/e1detectors_base_14152.xml
/e1detectors_base_5590.xml
