/e1detectors_attack_10305.csv
/e1detectors_attack_12602.csv
/e1detectors_base_10360.csv
/e1detectors_attack_963.csv
/e1detectors_base_10305.csv
/e1detectors_attack_10360.csv
/e1detectors_base_12602.csv
/aggregated.csv
/aggregatedv3.csv
/e1detectors_attack_18078.csv
/aggregatedv2.csv
/e1detectors_base_18078.csv
/e1detectors_base_963.csv
/e1detectors_attack_18078.xml
/e1detectors_attack_10360.xml
/e1detectors_attack_10305.xml
/e1detectors_base_963.xml
/e1detectors_attack_963.xml
/e1detectors_attack_12602.xml
/e1detectors_base_10360.xml
/e1detectors_base_10305.xml
/e1detectors_base_12602.xml
/e1detectors_base_18078.xml
