/detector_results.csv
/simulation_results.csv
/ratios_results.csv
/cross_section_results.csv
/tester.net.xml
/detectors1.add.xml
/gui-settings.xml
/detector_output.xml
/tester.rou.xml
/detectors.add.xml
