/outputs.xml
/outputs.csv
/inductionout.csv
/inductionout.xml
/inductionout_brake.csv
/LOS_with_mean.csv
/LOS_with_TARA_classification_and_ALI.csv
/lane_density_speed.csv
/LOS_classification_with_density.csv
/mean_density_intervals.csv
/LOS_with_TARA_classification.csv
/safety.add.xml
/gui-settings.xml
/safety.net.xml
/safety.rou.xml
/vTypeDistributions.add.xml
/lanedetectors.add.xml
/detectors.add.xml
