/e1detectors_base_15298.csv
/e1detectors_base_15338.csv
/e1detectors_base_6598.csv
/e1detectors_base_2600.csv
/e1detectors_attack_6598.csv
/e1detectors_attack_15298.csv
/e1detectors_attack_581.csv
/e1detectors_attack_2600.csv
/aggregated.csv
/e1detectors_attack_15338.csv
/aggregatedv3.csv
/e1detectors_base_581.csv
/aggregatedv2.csv
/e1detectors_attack_2600.xml
/e1detectors_base_15298.xml
/e1detectors_attack_581.xml
/e1detectors_base_6598.xml
/e1detectors_base_2600.xml
/e1detectors_attack_6598.xml
/e1detectors_attack_15298.xml
/e1detectors_attack_15338.xml
/e1detectors_base_581.xml
/e1detectors_base_15338.xml
