/e1detectors_base_10328.csv
/e1detectors_base_12239.csv
/e1detectors_attack_11751.csv
/e1detectors_attack_14416.csv
/e1detectors_base_14416.csv
/e1detectors_attack_10328.csv
/e1detectors_attack_12239.csv
/e1detectors_base_16596.csv
/e1detectors_base_11751.csv
/aggregated.csv
/e1detectors_attack_16596.csv
/aggregatedv3.csv
/aggregatedv2.csv
