/e1detectors_attack_3557.csv
/e1detectors_attack_8016.csv
/e1detectors_attack_2542.csv
/e1detectors_base_3557.csv
/e1detectors_base_8016.csv
/e1detectors_base_2542.csv
/aggregated.csv
/aggregatedv3.csv
/aggregatedv2.csv
/e1detectors_attack_8016.xml
/e1detectors_attack_2542.xml
/e1detectors_base_2542.xml
/e1detectors_base_3557.xml
/e1detectors_base_8016.xml
/e1detectors_attack_3557.xml
