/forspeedplot.csv
/aggregatedv3.csv
/aggregatedv3-1250-60.csv
/aggregatedv3-1250-20.csv
/aggregatedv3-1250-40.csv
/aggregatedv3-2000-20.csv
/aggregatedv3-2000-40.csv
/aggregatedv3-2000-60.csv
/aggregatedv3-500-20.csv
/aggregatedv3-500-40.csv
/aggregatedv3-500-60.csv
/means-1250-20.csv
/means-1250-40.csv
/means-1250-60.csv
