/e1detectors_base_3187.csv
/e1detectors_base_8907.csv
/e1detectors_base_22496.csv
/e1detectors_attack_1393.csv
/e1detectors_attack_3187.csv
/e1detectors_base_1393.csv
/e1detectors_attack_5374.csv
/e1detectors_attack_8907.csv
/e1detectors_base_5374.csv
/aggregated.csv
/aggregatedv3.csv
/aggregatedv2.csv
/e1detectors_attack_22496.csv
