/attack_vehicle_counts.csv
/gridlocked_edges.csv
/attack_mean_speeds.csv
/attack_lane_metrics_all_step.csv
/stopped_vehicles.csv
/attack_lane_metrics_in_radius_step.csv
/upstream_edges.xml
/radius_edges.xml
