/e1detectors_base_5178.csv
/e1detectors_attack_23414.csv
/e1detectors_base_23414.csv
/e1detectors_base_2606.csv
/e1detectors_attack_1565.csv
/e1detectors_attack_2606.csv
/e1detectors_attack_5178.csv
/e1detectors_attack_18398.csv
/e1detectors_base_18398.csv
/e1detectors_base_1565.csv
/aggregated.csv
/aggregatedv3.csv
/aggregatedv2.csv
