/e1detectors_attack_14760.csv
/e1detectors_attack_10175.csv
/e1detectors_base_14760.csv
/e1detectors_base_32.csv
/e1detectors_attack_21641.csv
/e1detectors_attack_32.csv
/e1detectors_base_21641.csv
/e1detectors_base_10175.csv
/e1detectors_base_13937.csv
/aggregated.csv
/e1detectors_attack_13937.csv
/aggregatedv3.csv
/aggregatedv2.csv
